._2JuisdPXXtf8jHbs36u0aq {
  display: inline-block;
  padding: 0.1875em 0.625em;
  font-weight: 100;
  background-color: rgba(8, 22, 30, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.42);
  color: #E0F3FF;
  font-size: 16px;
  line-height: 1.75;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: background-color 125ms ease-in;
  cursor: pointer;
}
._2JuisdPXXtf8jHbs36u0aq:hover {
  background-color: #293A6B;
}
._2JuisdPXXtf8jHbs36u0aq > .fa:first-child:not(:last-child) {
  margin-right: 0.625em;
}
._2JuisdPXXtf8jHbs36u0aq > .fa:last-child:not(:first-child) {
  margin-left: 0.625em;
}
._3GnLBPCSug7nZoDeKuhG8F {
  position: relative;
  width: 100%;
  max-width: 500px;
  text-align: left;
  padding: 36px 20px;
  opacity: 0.6;
  background-color: rgba(9, 22, 41, 0.82);
}
._3GnLBPCSug7nZoDeKuhG8F::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 100%;
  background: #3B4779;
}
._3GnLBPCSug7nZoDeKuhG8F::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 13px 0 0 rgba(255, 255, 255, 0.4), 26px 0 0 rgba(255, 255, 255, 0.2);
}
._3GnLBPCSug7nZoDeKuhG8F ._1gzyNbuqSmFYIluxLAm1eT {
  color: #E0F3FF;
  font-family: monospace;
  font-size: 14px;
  line-height: 35px;
}
._3GnLBPCSug7nZoDeKuhG8F ._1hrtCF6bZT3CIQ6CTM3nsW {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  font-weight: 500;
  background: transparent;
  border: none;
}
._3HSqoN_MFx5mYdp5VkLVva {
  fill: #EDF339;
}

._3QvN3w0t1K5BV1yWfGkdXn {
  fill: #FFF;
}

.OvUCcCxolNt00yGcMlkAG {
  fill: #0064DB;
}

._2fkH4FNIpXhdTfTyLFZIwy {
  fill: #009797;
}

._1wMxB5PZBDyiIRhzbUv0uJ {
  fill: #4D9EFF;
}

._11gkVx46msDq-9sLIAidxD {
  fill: #005856;
}

._3BZwcOsFqbxIN2FRuvcXTQ {
  fill: #8ED122;
}

._2R41z7I0_k5gQR-yDzA1GL {
  fill: #F6911B;
}

._2aYbjQkmnQJJ0xnaVgIPak {
  opacity: 0.16;
  fill: #FFF;
}

._3NilVirCRrO1XQiv46i7pJ {
  opacity: 0.33;
  fill: #FFF;
}
._1MLCZS1xtivRQywhoiMMFR {
  width: 135px;
  height: 65px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
._1MLCZS1xtivRQywhoiMMFR.Bc5X3rgmejGKbZqGXd9Cx {
  background-position: 10px 0;
}
._2WGwGoRoVuytEoR6bMEX1Z {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
._2WGwGoRoVuytEoR6bMEX1Z h1 {
  color: white;
}
._2WGwGoRoVuytEoR6bMEX1Z p {
  font-weight: 300;
}
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image:
    linear-gradient(
      to right,
      black 0%,
      rgba(30, 51, 111, 0.3) 30%,
      rgba(145, 91, 97, 0.3) 70%,
      black 100%
    ),
    linear-gradient(
      to bottom,
      black 0%,
      rgba(145, 94, 49, 0.3) 30%,
      rgba(76, 59, 143, 0.3) 70%,
      black 100%
    );
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  transition: color 125ms ease-in;
}

a:hover {
  color: #FFF;
}

._25LkulqlQyle17bOFGr7TP {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
}

._25LkulqlQyle17bOFGr7TP ._3GBmif3zhlrwlX_4vRhImA {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 10px;
  color: #30688B;
  opacity: 0.4;
}

._25LkulqlQyle17bOFGr7TP ._3GBmif3zhlrwlX_4vRhImA::before {
  content: "\A9   ";
}
._1ucTAqiqhlnN20HUiCRa0- {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 40px 20px;
  color: white;
}

._3-hGCKJtis5VOVz9GMQuMB,
._34DBgMnMgRC8n-a-LUovDf {
  color: white;
}

._3-hGCKJtis5VOVz9GMQuMB {
  margin-bottom: 0;
}

._34DBgMnMgRC8n-a-LUovDf {
  margin-top: 0;
}

._312CJl-mEYmNB5e-lKg5kR {
  position: relative;
  max-width: 500px;
  margin: 20px auto 0 auto;
  font-weight: 300;
}

._3gIyIUceaZac-BSW7JYvz {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

._3gIyIUceaZac-BSW7JYvz ._1evK0v0A-I2yon2V36lkqw {
  padding-bottom: 29%;
  margin: 0 2%;
  height: 0;
  width: 29%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: 0 45px 100px rgba(0, 0, 0, 0.4);
}

._3gIyIUceaZac-BSW7JYvz ._1evK0v0A-I2yon2V36lkqw:first-child {
  margin-left: 0;
}

._3gIyIUceaZac-BSW7JYvz ._1evK0v0A-I2yon2V36lkqw:last-child {
  margin-right: 0;
}

._3Z0LIp7LfeMiafjMJF_qr4 {
  margin: 30px 0;
}

._3bzk_SAYHgU-awNzDQzj4X {
  max-width: 500px;
}

._3bzk_SAYHgU-awNzDQzj4X ._2KvMLONTKGSr8ZGB05MBSB {
  width: 180px;
  height: 180px;
}

._3bzk_SAYHgU-awNzDQzj4X ._2KvMLONTKGSr8ZGB05MBSB ._17WKQ5Ky6su0mhRxikOqTH {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

._3ID1XyuRcWooHpFJvSQHut {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  margin: 0 -20px;
}

._3ID1XyuRcWooHpFJvSQHut > * {
  margin: 20px 20px;
}

._3ID1XyuRcWooHpFJvSQHut ._3lCWRfP8uIpNtGOqLvKoBT {
  text-align: center;
}

._3ID1XyuRcWooHpFJvSQHut .FbIviQ3ZtSSKY1Ix65LN_ {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 3px;
  transition: color 125ms ease-in;
}

._3ID1XyuRcWooHpFJvSQHut .FbIviQ3ZtSSKY1Ix65LN_:hover {
  color: rgba(255, 255, 255, 0.9);
}
