.styles__dButton___2Juis {
  display: inline-block;
  padding: 3px 10px;
  font-weight: 100;
  background-color: rgba(8, 22, 30, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.42);
  color: #e0f3ff;
  font-size: 16px;
  appearance: none;
  transition: background-color 125ms ease-in;

  &:hover {
    background-color: #293a6b;
  }
}
.styles__dConsole___3GnLB {
  position: relative;
  width: 100%;
  max-width: 500px;
  text-align: left;
  padding: 36px 20px;
  opacity: 0.6;
  background-color: rgba(9, 22, 41, 0.82);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 100%;
    background: #3b4779;
  }

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    box-shadow: 13px 0 0 rgba(255, 255, 255, 0.4), 26px 0 0 rgba(255, 255, 255, 0.2);
  }

  & .styles__content___1gzyN {
    color: #e0f3ff;
    font-family: monospace;
    font-size: 14px;
    line-height: 35px;
  }

  & .styles__copy___1hrtC {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 6px;
    color: white;
    font-size: 12px;
    line-height: normal;
    background: rgba(0, 0, 0, 0.4);
    appearance: none;
    border: none;

    & .styles__icon___1NgSs {
      margin-right: 4px;
    }
  }
}
.styles__st0___3HSqo{fill:#EDF339;} 
.styles__st1___3QvN3{fill:#FFFFFF;} 
.styles__st2___OvUCc{fill:#0064DB;} 
.styles__st3___2fkH4{fill:#009797;} 
.styles__st4___1wMxB{fill:#4D9EFF;} 
.styles__st5___11gkV{fill:#005856;} 
.styles__st6___3BZwc{fill:#8ED122;} 
.styles__st7___2R41z{fill:#F6911B;} 
.styles__st8___2aYbj{opacity:0.16;fill:#FFFFFF;} 
.styles__st9___3NilV{opacity:0.33;fill:#FFFFFF;}
    
.styles__dSignature___1MLCZ {
  width: 135px;
  height: 65px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.styles__felix___Bc5X3 {
    background-image: url(1a33b126c53b22dee2db9f191dd72569.svg);
    background-position: 10px 0;
  }

  &.styles__david___2Eq9T {
    background-image: url(28228928bf95c862484cc23bfa89a0a5.svg);
  }

  &.styles__patrick___1QIw4 {
    background-image: url(55b62725534cec9b5165951d1a6ccb5c.svg);
  }
}
._404__notFound___2WGwG {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
  }

  & p {
    font-weight: 300;
  }
}
html {
  min-height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: 
    linear-gradient(
      to right, 
      black 0%,
      rgba(30, 51, 111, 0.3) 30%, 
      rgba(145, 91, 97, 0.3) 70%,
      black 100%
    ), linear-gradient(
      to bottom, 
      black 0%,
      rgba(145, 94, 49, 0.3) 30%, 
      rgba(76, 59, 143, 0.3) 70%,
      black 100%
    );

  & * {
    box-sizing: border-box;
  }
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  transition: color 125ms ease-in;

  &:hover {
    color: white;
  }
}

.template__wrapper___25Lku {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 850px;

  & .template__copyright___3GBmi {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 10px;
    color: #30688b;
    opacity: 0.4;

    &::before {
      content: "\A9   ";
    }
  }
}
.index__home___1ucTA {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 20px;
  color: white;
}

.index__headline___3-hGC,
.index__subheadline___34DBg {
  color: white;
}

.index__headline___3-hGC {
  margin-bottom: 0;
}

.index__subheadline___34DBg {
  margin-top: 0;
}

.index__summary___312CJ {
  position: relative;
  max-width: 500px;
  margin: 20px auto 0 auto;
  font-weight: 300;
}

.index__fork___3Z0LI {
  margin: 30px 0;
}

.index__slider___3bzk_ {
  max-width: 500px;

  & .index__slide___2KvML {
    width: 180px;
    height: 180px;

    & .index__slideImage___17WKQ {
      width: inherit;
      height: inherit;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.index__authors___3ID1X {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  margin: 0 -20px;

  & > * {
    margin: 20px 20px;
  }

  & .index__links___3lCWR {
    text-align: center;
  }

  & .index__link___FbIvi {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 3px;
    transition: color 125ms ease-in;

    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}
